<h1>Hola mundo</h1>
<div style="display: flex; height: 100%; width: 100%; align-items: center; justify-content: center;">

  <div style="display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 10px;">
    @for (image of imgArray; track $index; let index = $index) {
      <figure>
        <img [src]="image" [alt]="index" (click)="openViewer(index)" [title]="index">
        <p>{{ index }}</p>
      </figure>
    }
  </div>

  @if (isOpenViewer()) {
    <ngx-superlite-img-viewer [images]="imgArray" [imageIndex]="indexImg()"></ngx-superlite-img-viewer>
  }

</div>
